{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="movies-container container">
    <div class="row">

    </div>




</div>






<script>
    function capitalizeFirstLetters(str) {
        return str.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
    }

    $(()=>{
        let data =  {{data | safe}};

        let entries =data.entries;
        let page =data.page;
        let next =data.next;



        data.results.forEach((e,i)=>{
            $('.movies-container .row').append(`
            <div class="col-4 my-3">
            <div class="card " style="width: 18rem;" data-id="${e._id}">
                <img src="${e.primaryImage.url != null ? e.primaryImage.url  : "{% static 'img/broken_img.png' %}"}" class="card-img-top" alt="..."  width="500" height="300">
                <div class="card-body">
                <h5 class="card-title d-inline-block text-truncate" style="max-width: 230px;">${capitalizeFirstLetters(e.titleText.text)}</h5>
  
                <p>Released Year: ${e.releaseYear.year}</p>
        
                <a href="#" class="btn btn-success">View</a>
                </div>
            </div>
            </div>
            
            `)


        })
    })

</script>

{% endblock %}